<!DOCTYPE html>
<html>
<head>
    <title>Prediksi Banjir Jakarta</title>
</head>
<body>
    <h1>Prediksi Potensi Banjir Jakarta</h1>
    <form method="POST">
        {% for field in ['Tn','Tx','Tavg','RH_avg','RR','ss','ff_x','ddd_x','ff_avg','cat_ddd','category_region'] %}
            <label>{{ field }}</label><br>
            <input type="number" step="any" name="{{ field }}" required><br><br>
        {% endfor %}
        <button type="submit">Prediksi</button>
    </form>

    {% if result %}
        <h2>Hasil Prediksi: {{ result }}</h2>
    {% endif %}
</body>
</html>